@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-progressbar-fill{
    background-color: #fb4848 !important;
}

.swiper-button-prev{
    padding:3rem 2rem  !important;
    
    
}

.swiper-button-next{
    padding:3rem 2rem !important;
    
    
}