@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face{
        font-family: Germinale;
        src: url('/fonts/germinale/Germinale-Regular.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: Fragment;
        src: url('/fonts/fragment_mono/fonts/otf/FragmentMono-Regular.otf') format('opentype'),
          
    }
    @font-face{
        font-family: Plasto;
        src: url('/fonts/plasto/PlastoTrial-Regular.otf') format('opentype');
    }
    
    
}

body{
    background-color: theme('colors.main-background');
}


.swiper-pagination-progressbar-fill{
    background-color: theme('colors.main-red') !important;
}
.swiper-button-next{
    color: theme('colors.main-red') !important;
}

.swiper-button-prev{

    
    
}

@media screen and (max-width: 768px) {
    .swiper-button-next{
        display: none !important;
    }
    .swiper-button-prev{
        display: none !important;
    }
}
    



.swiper-button-next{
    
    
}